<h1> Book slot</h1>
<%= form_tag slot_path(@slot) do %>
    <% if @car.errors.any? %>
    <div id="error_explanation"> 
      <ul>
      <% @car.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
      </ul>
    </div>
    <%end%>
    <div class="field">
    <%= label_tag 'Enter register number' %>
    <%= text_field_tag :register_number, params[:register_number] %>
    </div> <br>
    <%= label_tag 'Enter the color of your car' %>
    <%= text_field_tag :color, params[:color] %>
    </div>
    <%= submit_tag "book slot" %>
<% end %>