<html>
<h1>Welcome to <%=@parksystem.name%>'s parking parking system</h1>

<% if @slot == nil%>
<h1>Sorry! The slots were full</h1>
<a><%= link_to 'click to refresh'%></a>
<%else%>
<a><%= link_to 'Book_slot', new_car_path%></a>
</head>
<table>
<thead>
  <tr>
    <th>Slot_number</th>
    <th>Status</th>
    
    <th colspan="3"></th>
  </tr>
</thead>

<tbody>
  <% @slots.each do |slot| %>
    <tr>
      <td><%=  slot.id %></td> 
      <td><%=  slot.status %></td>
    </tr>
  <% end %>
</tbody>
</table>

<%end%>
</html>