<%= form_tag '' do %>
    <div class="field">
    <%= label_tag 'Email'%>
    <%= text_field_tag :email, params[:name] %>
    </div>

    <br>

    <div class="field">
    <%= label_tag 'Password'%>
    <%= password_field_tag :password %></p> 
    </div>
    
    <%= submit_tag "Log In" %>
        
<% end %>