
<%= form_for :user, url: '/signup' do |form| %>
    <h2> Sign Up </h2>
      
    <div class="field">
    <%= form.label :email %><br>
    <%= form.text_field :email %><br>
    </div>

    <div class="field">
    <%= form.label :password %><br>
    <%= form.password_field :password %><br>
     </div>

     <div class="field">
    <%= form.label :confirmation_password %><br>
    <%= form.password_field :confirmation_password %><br>
     </div>
    <%=  submit_tag("Create Account") %>
<% end %>
