<head>
<br>

  <%= form_tag(admin_park_system_path, method: :get ) do  %>
    <%= label_tag  "Search by color:" %>
    <%= collection_select(:color, :color, Car.all, :color, :color, prompt: true, selected: params[:color]) %>    
    <%= submit_tag "Search" %>
  <% end %>
  
  <%= form_tag(admin_park_system_path, method: :get) do  %>
    <%= label_tag  "Search by register number:" %>
    <%= text_field_tag :register_number %>
    <%= submit_tag "Search" %>
  <% end %>


<%= link_to 'free slots available',admin_park_system_path(status: "unallocated") %>
<%= link_to 'booked slots',admin_park_system_path(status: "allocated") %>
<%= link_to 'All slots',admin_park_system_path(status: "") %>


</head>

<table>
  <thead>
    <tr>
      <th>Slot_number</th>
      <th>Status</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slots.each do |slot| %>
      <tr>
        <td><%=  slot.id %></td> 
        <td><%=  slot.status %></td>
        <td>
        <% if slot.status == "allocated" %>
        <%=link_to 'remove slot', admin_park_system_path(slot.id)%>
        <% else%>
        <%=link_to 'book slot', admin_park_system_path(slot.id)%></td>
        <%end%>
        </td>
       
      </tr>
    <% end %>
  </tbody>
</table>
