<!DOCTYPE html>
<html>
  <head>
    <title>ParkingSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
  <% if current_user %>
  <%= link_to 'Logout', '/logout', :data => { :confirm => 'Are you sure?' }%>
 <% else %>
  <%= link_to 'Signup', '/admin/users/new'%>
  <%= link_to 'Login', '/admin/sessions/new'%>
<% end %>
    <%= yield %>
  </body>
</html>
